body{
	margin:0;		
	color:#333;
	font-size: 18px;
	font-family: 'Courier New', Courier, monospace;
	line-height: 1.6em;
}
.navbar { 
	margin-bottom:0 !important;
	border-radius: 0!important;
}
.container{	
	overflow: hidden;
	width:90%;
	margin:auto;
}
#header{
	background-color: coral;
	color:black;
}
#header img{
	width:80px;
	margin-left:0;
}
#header h1{
	text-shadow: 2px 2px 5px grey;
	font-weight: bold;
}
.push{
	float:right;
}

.item img{
	width:100%;
	
}


#footer{
	background-color: #333;
	padding: 10px;
}
#footer img{
	width:30px;
}
#footer ul{
	list-style: none;
}
#footer li{
	display: inline;
}
#footer a{
	text-decoration: none;
	padding-right: 20px;
}
#footer p{
	color:black;
	padding-top: 10px;
	padding-right: 10px	
}

#form-container{
	margin-left: 100px;
	text-align: left;
	width:60%;
	line-height: 1.8em;	
}
#form-container input{
	width:100%;
}
#form-container img{
	float:right;
	width:200px;
}
#maintenance img{
	margin: 0 50px;
	width:90%;
	padding: 0 10px 10px 10px;
}
#main {
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;	
}
#main iframe{
	width:45%;
	height: 350px;
	margin:auto;
}

.window1,.window2, .window3, .window4{
	float:left;
	width:25%;
	padding:10px;
	box-sizing: border-box;
}
.window1 ul,.window2 ul, .window3 ul, .window4 ul{
	
}
.window1 a, .window2 a, .window3 a, .window4 a{
	color:#333;
}
.window1 a:hover{
	font-weight: bold;
	text-decoration: none;
}
.window2 a:hover{
	font-weight: bold;
	text-decoration: none;
}
.window3 a:hover{
	font-weight: bold;
	text-decoration: none;
}
.window4 a:hover{
	font-weight: bold;
	text-decoration: none;
}
.service{
	text-align: center;
}
.service img{
	width:40%;
	margin:10px;
}
.grid-wrapper{
	display:flex;
	
	grid-template-columns: repeat(auto-fill, minmax(350px,1fr));
}
.box img{
	width:90%;
	padding:20px;
	
	}
.box a:hover{
	background-color: #4286f4;
	color:white;
	text-decoration: none;
	}

.box{
	background-color: black;	
	margin:20px;
	width:100%;
	height:250px;
	cursor: pointer;
	text-align: center;	
	border-radius: 20px;
}
.zone a{
	font-weight: bold;
	border:2px solid white;
	padding:5px;
}

